<div class="row">
  <div class="col-xs-12">
    <img src="{{selectedRecipe?.imagePath}}" alt="" class="img-responsive">
  </div>
  <div class="col-xs-12">
    <h1>{{selectedRecipe?.name}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" style="margin: 0 5px;">Zur Einkaufsliste</button>
    <button class="btn btn-primary" style="margin: 0 5px;">Bearbeiten</button>
    <button class="btn btn-danger" style="margin: 0 5px;">Löschen</button>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p>{{selectedRecipe?.description}}</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    Zutaten
  </div>
</div>
